
.border-left1{
    border-left:5px solid #4e73df;
}
.border-left2{
    border-left:5px solid #1cc88a;
}
.border-left3{ 
    border-left:5px solid #36b9cc;
}
.border-left4{
     border-left:5px solid #f6c23e;
    }
.bg-blue{
    background-color:#4e73df;
    position:fixed;
    bottom:0;
    top:0;
}
.text-grey{
    color: rgba(255,255,255,.4);
}
.fa-grey{
    color: #dddfeb!important;
}
.btn-circle{
    border-radius: 50%;
}
.bg-navy{
    background-color:#3b5998;
}
.bg-navy:hover{
    background-color:#3b5998;
}
.bg-darkblue{
    background-color:#0254ab;
}
.darkgreen{
    background-color: #1c7a32;
}
.darkinfo{
    background-color: #138293;
}
.darkred{
    background-color:rgb(185, 1, 1);
}
.darkyellow{
    background-color: #ffa600;
}
.extradark{
    background-color: rgb(67, 67, 67);
}
.darkgrey{
    background-color:rgb(173, 172, 172);
}
.bg-lightblue{
    background-color: #9fcfff;
}